# Maven generated
target/

# Eclipse generated
.apt_generated/
.settings/
.project
.classpath
.factorypath
.metadata
RemoteSystemsTempFiles
MANIFEST.MF

# MacOS system files
.DS_Store

# Asciidoc rendered
README.html
.pdf

# Zip files
*.zip

# WindowsOS generated thumbnails
*Thumbs.db

#CS385 Final Presentation
/CS385/FinalProject/Presentation/node_modules/
/CS385/FinalProject/Presentation/*.html
/CS385/FinalProject/Presentation/Gemfile
/CS385/FinalProject/Presentation/Gemfile.lock
/CS385/FinalProject/Presentation/.bundle
/CS385/FinalProject/Presentation/*.json
/CS385/FinalProject/Presentation/reveal.js
